.page-section {
  padding: 1rem;

  &--color-dark-2 {
    background: $color-dark-2;
    color: $color-light-2;
  }
  &--color-dark-1 {
    background: $color-dark-1;
    color: lighten($color-light-2, 20%);
  }

  &--color-transparent {
    color: $color-dark-2;
  }
  &--mt-2 {
    margin-top: 5rem;
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 2.1rem;
  }
  &__text-content {
    font-family: $body;
  }
}
