.page-section {
  padding: 1rem;

  &--color-dark-2 {
    background: $color-dark-2;
    color: $color-light-2;
  }
  &--color-dark-1 {
    background: $color-dark-1;
    color: lighten($color-light-2, 20%);
  }

  &--color-transparent {
    color: darken($color-dark-2, 20%);
  }
  &--mt-2 {
    margin-top: 5rem;
  }

  &__heading {
    font-family: $heading;
    margin-bottom: 1rem;
    font-size: 3.3rem;
  }
  &__text-content {
    font-family: $body;
    &__paragraph {
      margin-bottom: 1rem;
    }
    &__body-heading {
      font-size: 1.9rem;
      font-variant: small-caps;
    }
  }
}
