html {
  font-size: var(--rem-size);
  font-family: $body;
}
body {
  background: $main-to-light-45;
  position: relative;
  min-height: 100vh;
  z-index: -2;
}
:where(p, li) {
  font-family: $body;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
