.page {
  background: $main-to-light-45;
  position: relative;
  min-height: 100vh;
  z-index: -2;

  &__image {
    pointer-events: none;
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    filter: blur(10px) opacity(0.3);
  }
  &__header {
    background: $color-dark-1;
    position: sticky;
    top: 0;
    left: 0;
  }
  &__title {
    font-family: $title;
    font-size: 8rem;
    padding: 1rem;
    font-weight: 700;
    background: $main-to-light-45;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
  }
}
