.container-c {
  margin: 0 auto;
  @include at-screen-sm {
    width: 100%;
    padding: 1rem;
  }
  @include at-screen-md {
    width: $width-lg;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  &--half {
    > * {
      grid-column: span 6;
    }
  }
}
.gap {
  &--1 {
    gap: 1rem;
  }
}
.flex {
  display: flex;
  &--wrap {
    flex-wrap: wrap;
  }
  &--justify-between {
    justify-content: space-between;
  }
  &--justify-evenly {
    justify-content: space-evenly;
  }
  &--justify-center {
    justify-content: center;
  }
  &--align-center {
    align-items: center;
  }
}
