@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Parisienne&family=Viaoda+Libre&display=swap');

$body: 'PT Sans', sans-serif;
$heading: 'PT Sans', sans-serif;
$display: 'Viaoda Libre', sans-serif;
$cursive: 'Parisienne', cursive;
