@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Parisienne&family=Viaoda+Libre&display=swap");
/* Bad practice with px. Use percentage to enable user to change font-size */
/* because these values nees to be re-calculated in the browser, we can't rely on the SASS variables. */
:root {
  --size-root-font: 62.5%;
  --size-grid-width: 35rem;
}
@media screen and (min-width: 60rem) {
  :root {
    --size-grid-width: 60rem;
  }
}
@media screen and (min-width: 90rem) {
  :root {
    --size-grid-width: 90rem;
  }
}
@media screen and (min-width: 114rem) {
  :root {
    --size-grid-width: 114rem;
  }
}

html {
  font-size: var(--size-root-font);
}

body {
  background: #0c3d4a;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

:where(p) {
  line-height: 18rem;
  font-size: 16rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:where(h1, h2, h3, h4) {
  font-weight: normal;
}

.text-rose-100 {
  color: #f4bade;
}

.bg-rose-100 {
  background-color: #f4bade;
}

.border-rose-100 {
  border-color: #f4bade;
}

.text-rose-200 {
  color: #ea75bd;
}

.bg-rose-200 {
  background-color: #ea75bd;
}

.border-rose-200 {
  border-color: #ea75bd;
}

.text-rose-300 {
  color: #df319c;
}

.bg-rose-300 {
  background-color: #df319c;
}

.border-rose-300 {
  border-color: #df319c;
}

.text-rose-400 {
  color: #a61a70;
}

.bg-rose-400 {
  background-color: #a61a70;
}

.border-rose-400 {
  border-color: #a61a70;
}

.text-rose-500 {
  color: #610f42;
}

.bg-rose-500 {
  background-color: #610f42;
}

.border-rose-500 {
  border-color: #610f42;
}

.text-rose-600 {
  color: #4e0c35;
}

.bg-rose-600 {
  background-color: #4e0c35;
}

.border-rose-600 {
  border-color: #4e0c35;
}

.text-rose-700 {
  color: #3a0927;
}

.bg-rose-700 {
  background-color: #3a0927;
}

.border-rose-700 {
  border-color: #3a0927;
}

.text-rose-800 {
  color: #27061a;
}

.bg-rose-800 {
  background-color: #27061a;
}

.border-rose-800 {
  border-color: #27061a;
}

.text-rose-900 {
  color: #13030d;
}

.bg-rose-900 {
  background-color: #13030d;
}

.border-rose-900 {
  border-color: #13030d;
}

.text-main-100 {
  color: #fee8d3;
}

.bg-main-100 {
  background-color: #fee8d3;
}

.border-main-100 {
  border-color: #fee8d3;
}

.text-main-200 {
  color: #fdd1a7;
}

.bg-main-200 {
  background-color: #fdd1a7;
}

.border-main-200 {
  border-color: #fdd1a7;
}

.text-main-300 {
  color: #fcba7b;
}

.bg-main-300 {
  background-color: #fcba7b;
}

.border-main-300 {
  border-color: #fcba7b;
}

.text-main-400 {
  color: #fba24f;
}

.bg-main-400 {
  background-color: #fba24f;
}

.border-main-400 {
  border-color: #fba24f;
}

.text-main-500 {
  color: #fb8b23;
}

.bg-main-500 {
  background-color: #fb8b23;
}

.border-main-500 {
  border-color: #fb8b23;
}

.text-main-600 {
  color: #e06f05;
}

.bg-main-600 {
  background-color: #e06f05;
}

.border-main-600 {
  border-color: #e06f05;
}

.text-main-700 {
  color: #a85303;
}

.bg-main-700 {
  background-color: #a85303;
}

.border-main-700 {
  border-color: #a85303;
}

.text-main-800 {
  color: #703702;
}

.bg-main-800 {
  background-color: #703702;
}

.border-main-800 {
  border-color: #703702;
}

.text-main-900 {
  color: #542902;
}

.bg-main-900 {
  background-color: #542902;
}

.border-main-900 {
  border-color: #542902;
}

.text-red-100 {
  color: #febac6;
}

.bg-red-100 {
  background-color: #febac6;
}

.border-red-100 {
  border-color: #febac6;
}

.text-red-200 {
  color: #fc758e;
}

.bg-red-200 {
  background-color: #fc758e;
}

.border-red-200 {
  border-color: #fc758e;
}

.text-red-300 {
  color: #fb3055;
}

.bg-red-300 {
  background-color: #fb3055;
}

.border-red-300 {
  border-color: #fb3055;
}

.text-red-400 {
  color: #e0052d;
}

.bg-red-400 {
  background-color: #e0052d;
}

.border-red-400 {
  border-color: #e0052d;
}

.text-red-500 {
  color: #9b031f;
}

.bg-red-500 {
  background-color: #9b031f;
}

.border-red-500 {
  border-color: #9b031f;
}

.text-red-600 {
  color: #7c0319;
}

.bg-red-600 {
  background-color: #7c0319;
}

.border-red-600 {
  border-color: #7c0319;
}

.text-red-700 {
  color: #5d0213;
}

.bg-red-700 {
  background-color: #5d0213;
}

.border-red-700 {
  border-color: #5d0213;
}

.text-red-800 {
  color: #3e010c;
}

.bg-red-800 {
  background-color: #3e010c;
}

.border-red-800 {
  border-color: #3e010c;
}

.text-red-900 {
  color: #1f0106;
}

.bg-red-900 {
  background-color: #1f0106;
}

.border-red-900 {
  border-color: #1f0106;
}

.text-blue-100 {
  color: #bae8f4;
}

.bg-blue-100 {
  background-color: #bae8f4;
}

.border-blue-100 {
  border-color: #bae8f4;
}

.text-blue-200 {
  color: #74d1e8;
}

.bg-blue-200 {
  background-color: #74d1e8;
}

.border-blue-200 {
  border-color: #74d1e8;
}

.text-blue-300 {
  color: #2fbadd;
}

.bg-blue-300 {
  background-color: #2fbadd;
}

.border-blue-300 {
  border-color: #2fbadd;
}

.text-blue-400 {
  color: #1a86a1;
}

.bg-blue-400 {
  background-color: #1a86a1;
}

.border-blue-400 {
  border-color: #1a86a1;
}

.text-blue-500 {
  color: #0f4d5c;
}

.bg-blue-500 {
  background-color: #0f4d5c;
}

.border-blue-500 {
  border-color: #0f4d5c;
}

.text-blue-600 {
  color: #0c3d4a;
}

.bg-blue-600 {
  background-color: #0c3d4a;
}

.border-blue-600 {
  border-color: #0c3d4a;
}

.text-blue-700 {
  color: #092e37;
}

.bg-blue-700 {
  background-color: #092e37;
}

.border-blue-700 {
  border-color: #092e37;
}

.text-blue-800 {
  color: #061f25;
}

.bg-blue-800 {
  background-color: #061f25;
}

.border-blue-800 {
  border-color: #061f25;
}

.text-blue-900 {
  color: #030f12;
}

.bg-blue-900 {
  background-color: #030f12;
}

.border-blue-900 {
  border-color: #030f12;
}

.row {
  width: var(--size-grid-width);
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row:not(:last-of-type) {
  margin-bottom: 6rem;
}
.row .col, .row .col-3-4, .row .col-2-4, .row .col-1-4, .row .col-2-3, .row .col-1-3, .row .col-1-2 {
  background-color: #ea75bd;
  padding: 1rem;
}
.row .col:not(:last-of-type), .row .col-3-4:not(:last-of-type), .row .col-2-4:not(:last-of-type), .row .col-1-4:not(:last-of-type), .row .col-2-3:not(:last-of-type), .row .col-1-3:not(:last-of-type), .row .col-1-2:not(:last-of-type) {
  margin-right: 2rem;
}
.row .col-1-2 {
  width: calc((100% - 2rem) / 2);
}
.row .col-1-3 {
  width: calc((100% - 2 * 2rem) / 3);
}
.row .col-2-3 {
  width: calc( 2 * ((100% - 2 * 2rem) / 3) + 2rem );
}
.row .col-1-4 {
  width: calc((100% - 2 * 2rem) / 4);
}
.row .col-2-4 {
  width: calc( 2 * ((100% - 3 * 2rem) / 4) + 2rem );
}
.row .col-3-4 {
  width: calc( 3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem );
}

.header {
  position: relative;
  background: #27061a;
  z-index: -3;
  -webkit-box-shadow: #061f25 5px 5px 20px;
          box-shadow: #061f25 5px 5px 20px;
  margin-bottom: 3rem;
}

.heading-primary {
  position: relative;
  height: 33rem;
}
.heading-primary--main {
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 2rem;
  display: block;
  font-size: 10rem;
  font-family: "PT Sans", sans-serif;
  color: #fb8b23;
  text-shadow: #030f12 -7px -5px 10px;
}
.heading-primary--sub {
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: -1;
  margin-top: -4rem;
  font-size: 20rem;
  font-family: "Parisienne", cursive;
  -webkit-transform: skewX(-10deg) rotate(-5deg);
          transform: skewX(-10deg) rotate(-5deg);
  text-shadow: #4e0c35 -7px -5px 5px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ea75bd), to(#fba24f));
  background-image: linear-gradient(to top right, #ea75bd, #fba24f);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}