@use '../abstracts/' as *;
@use "sass:map";

html {
  font-size: var(--size-root-font);
}
body {
  background: map.get($color-blue, 600);
  font-family: $type-body;
  font-weight: 400;
  line-height: 1.7;
  height: 100vh;

  box-sizing: border-box;
  color: lighten($color-main-base, 80%);
}

:where(p) {
  line-height: 18rem;
  font-size: 16rem;
}
