.page-header {
  background: $color-dark-1;
  position: sticky;
  top: 0;
  left: 0;
  &__title {
    font-family: $title;
    font-size: 8rem;
    padding: 1rem;
    font-weight: 700;
    background: $main-to-light-45;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
  }
}
