@use '../abstracts/variables/' as *;

@mixin generate-colors($name, $color-base) {
  @each $variant, $color in $color-base {
    .text-#{name}-#{$variant} {
      color: #{$color};
    }

    .bg-#{name}-#{$variant} {
      background-color: #{$color};
    }

    .border-#{name}-#{$variant} {
      border-color: #{$color};
    }
  }
}
@include generate-colors('rose', $color-rose);
@include generate-colors('main', $color-main);
@include generate-colors('red', $color-red);
@include generate-colors('blue', $color-blue);
